fastapi[all]==0.115.4
pydantic==2.9.2
pydantic-settings==2.6.1
python-dotenv==1.0.1
SQLAlchemy==2.0.36
SQLAlchemy-Utils==0.38.2
uvicorn==0.32.0
loguru==0.7.2
asyncpg==0.30.0
psycopg2-binary==2.9.10
alembic==1.14.0
aioredis==2.0.1
redis==5.2.1
celery==5.4.0
flower==2.0.1
PyJWT==2.10.1
passlib==1.7.4